#search{
    font-size: 15px !important;
    margin: 0px !important;
    border: None !important;
    border-radius: 50px !important;
}
#Category{
    font-size: 15px;
    height: 45px !important;
    border-radius: 50px !important;
    border: 1px solid  #ccc;

}
.searchBox{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    border-radius: 25px !important;
    border: 1px solid  #ccc;;
}