
/*Styling links*/
 .nav-link,.nav-link1{
    font-size: 16px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 10px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    margin: 4px;
}
 .nav-link:hover,  .nav-link:active,  .nav-link{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}
 .nav-link:hover{
    background: rgba(0,0,0,0.06);
}
 .nav-link:active{
    color: rgba(0,0,0,0.9);
    background: rgba(0,0,0,0.1);
}
 .nav-link{
    color: #5bc0de;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    float: right;
}
.dropmenu{
    position: fixed;
    opacity: 0;
    z-index: 1;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
    transform: translateX(0);
  }
  
  .dropdown-container {
    position: fixed;
    background-color: #24262b; /* Dark background color */
    color: #ffffff; /* Light text color */
    border: 1px solid #ccc;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    z-index: 1;
    padding: 0;
    margin: 0;
    min-width: 150px;
    list-style: none;
    top:52px;
    left:0px;
   
  }
  .dropmenu.show {
    left: 2; /* Slide into view */
    opacity: 1;
  }
  
  .dropmenu.hide {
    left: -300px; /* Slide out of view */
    opacity: 0;
  }
/*Shadow*/
 .carousel-control-prev{
  z-index: 0 !important; 
 }

 .list-group-item{
  max-width: "120px";
 }
 /* Profile container */
/* Profile container with transition for smooth appearance */
.profile-container {
  position: fixed; /* Changed from absolute to fixed for better control */
  top: 78px;
  right: -300px; /* Start position off-screen */
  width: 300px;
  background-color: #f9f9f9;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: 1;
  transition: transform 2.5s ease-in-out, opacity 2.5s ease-in-out;
  transform: translateX(0); /* Ensures no unwanted initial movement */
}
.list-group-item{
  background-color:  #28a745 ;
  /* 50% transparency */

}
.list-group-item:hover{
  background-color: #f9f9f9;
}
.profile-container.show {
  right: 0; /* Slide into view */
  opacity: 1;
}

.profile-container.hide {
  right: -300px; /* Slide out of view */
  opacity: 0;
}


